accelerate
easyocr
keras
matplotlib
numpy
# opencv_python
opencv_python_headless
pandas
Pillow
pytesseract
Requests
scikit_learn
scikit-image
streamlit
streamlit_image_comparison
streamlit_option_menu
tensorflow
tensorflow_intel
torch
